footer {
  background-color: var(--main-color);
  color: var(--card-color);
  padding: 70px 0 30px;
}

.footer-social header {
  border-bottom: 2px solid rgb(255, 255, 255, 0.5);
  padding-bottom: 15px;
}

.footer-social ul li a i {
  color: var(--card-color);
}
